@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Bodoni 72';
    src: url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.eot');
    src: local('Bodoni 72 Book'), local('BodoniSvtyTwoITCTT-Book'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.woff') format('woff'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.ttf') format('truetype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bodoni 72';
    src: url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.eot');
    src: local('Bodoni 72 Bold'), local('BodoniSvtyTwoITCTT-Bold'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.eot?#iefix') format('embedded-opentype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.woff2') format('woff2'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.woff') format('woff'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.ttf') format('truetype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-Bold.svg#BodoniSvtyTwoITCTT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bodoni 72';
    src: url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.eot');
    src: local('Bodoni 72 Book Italic'), local('BodoniSvtyTwoITCTT-BookIta'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.eot?#iefix') format('embedded-opentype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.woff2') format('woff2'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.woff') format('woff'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.ttf') format('truetype'),
        url('Bodoni72Book/BodoniSvtyTwoITCTT-BookIta.svg#BodoniSvtyTwoITCTT-BookIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

