footer{
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
        .social-icon{
            font-size: 24px;
            display: block;
            transition: 0.4s linear;
            &:not(:last-of-type){
                margin-right: 3rem;
            }
            &:hover{
                transform: scale(1.2) perspective(1000px);
                color: darken($light, 8%) !important;
            }
        }
    }
    .copyright{
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: -0.17px;
        a{
            transition: 0.4s linear;
            &:hover{
                color: darken($light, 8%) !important;
            }
        }
    }
}