img{
    max-width: 100%;
}
body{
    font-family: $body-font;
    font-weight: 400;
}
p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}
.homepage-title{
    font-family: $bodoni;
    font-size: 2.4rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    @media(min-width: 768px){
        font-size: 3rem;
    }
    &:after{
        content: '';
        display: block;
        height: 0.1rem;
        width: 7.4rem;
        background-color: $light;
        margin-top: 1.1rem;
        margin-inline: auto;
        @media(min-width: 992px){
            margin-inline: 0;
        }
    }
}
a{
    color: $body-color;
}
.ratio{
    display: block;
    overflow: hidden;
}

.ratio > *{
    object-fit: cover;
}