img{
    max-width: 100%;
}
body{
    font-family: $body-font;
    font-weight: 400;
}
p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}
.section-title{
    font-family: $bodoni;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
}