
@import "main/_hero.scss";
@import "main/_error.scss";
@import "main/_news.scss";
@import "main/_services.scss";
@import "main/_team.scss";
@import "main/_blog.scss";
@import "main/_about.scss";
@import "main/_service-single.scss";
@import "main/_blog-single.scss";
@import "main/_contact.scss";