.blog-hero{
    padding: 28.3rem 0 26.3rem !important;
    @media(min-width: 992px){
        margin-bottom: 8.8rem !important;
    }
}
.blog-news{
    margin-bottom: 0.8rem !important;
}

.blog{
    .blog-pagination{
        font-family: $bodoni;
        .page-item{
            .page-link{
                color: $body-color;
                transition: 0.4s linear;
                &:hover{
                    color: darken($light, 30%);
                }
            }
        }
    }
}