.hero-section{
    padding: 21.8rem 0 26.9rem;
    background-size: cover;
    background-position: top center;
    @media(min-width: 992px){
        margin-bottom: 7.5rem !important;
    }

    .hero-section-title{
        font-family: $bodoni !important;
        max-width: 70.4rem;
        margin-inline: auto;
        letter-spacing: 1rem;
        @media(min-width: 992px){
            letter-spacing: 2rem;
            line-height: 8.4rem;
        }
    }
}
.hero-section.service-hero {
    padding: 28.4rem 0;
    @media(min-width: 992px){
        margin-bottom: 8.8rem !important;
    }
}
