.news{
    @media(min-width: 1200px){
        margin-bottom: 5.6rem !important;
    }
}
.news-item{
    .news-item-img{
        img{
            transform: scale(1.2) perspective(1000px);
            transition: 0.6s ease-in-out;
        }
        &:hover{
            img{
                transform: scale(1) perspective(1000px);
            }

        }
    }
    .news-item-data{
        padding: 2.2rem 1.8rem 5.7rem;
        position: relative;
        z-index: 1;
        margin: -8.1rem 2.7rem 0;
        background-color: #fff;
        .news-item-data-date{
            font-family: $bodoni;
            font-style: italic;
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 0.1rem;
            margin-bottom: 1.7rem;
        }
        .news-item-data-title{
            font-size: 1.6rem;
            line-height: 2.4rem;
            @media(min-width: 768px){
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            a{
                transition: 0.3s linear;
                &:hover{
                    color: darken($light, 30%) !important;
                }
            }
        }
    }
}

