.services{



    @media(min-width: 992px){
        margin-bottom: 9rem !important;
    }
    @media(min-width: 1200px){
        margin-bottom: 11.1rem !important;
    }
    .services-item{
        &:nth-of-type(even){
            background-color: $light;
        }
        &:nth-of-type(odd){
            background-color: $secondary;
            @media(min-width: 768px){
                .services-item-img{
                    order: 1;
                }
            }
        }
        .services-item-img{
            img{
                transition: 1s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.3) perspective(1000px);
                }
            }

        }
        .services-item-data{
            max-width: 368px;
            margin-inline: auto !important;
            .services-item-data-wrapper{
                .services-item-data-title{
                    @media(min-width: 1200px){
                        font-size: 3.6rem;
                        line-height: 4.4rem;
                    }
                    a{
                        transition: 0.3s linear;
                        &:hover{
                            color: darken($light, 30%) !important;
                        }
                    }
                }
                a{
                    &.btn{
                        border-radius: 0;
                        font-size: 1.4rem;
                        line-height: 4.5rem;
                        letter-spacing: 0.5px;
                        padding: 0 3.6rem;
                        transition: 0.3s linear;
                    }
                    &:hover{
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }
}
.service-hero + .services{
    @media(min-width: 768px){
        margin-bottom: 3.7rem !important;
    }
}

